<a href="https://colab.research.google.com/github/Latamila/webProjects/blob/main/Tabuada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
linha = 1
coluna = 1
while linha <= 10:
  while coluna <= 10:
    print(linha * coluna, end='\t')
    coluna = coluna + 1
  linha = linha + 1
  print()
  coluna = 1 #para retornar para a primeira coluna

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [4]:
x= 1
count = 0
while x<3:
  y=0
  while y<=4:
    #iteração
    y=y+1
  x = x+1

In [5]:
print(x)

3

In [7]:
fora = 5 #iterações valendo 4,3,2,1
while fora > 0:
  dentro = 0
  while dentro < fora: #o valor do fora não entra
    print('oi')
    dentro=dentro + 1
  fora = fora - 1
  print()#imprimindo cada iteração com um espaço para observar

oi
oi
oi
oi
oi

oi
oi
oi
oi

oi
oi
oi

oi
oi

oi

Quais trechos completam corretamente o programa para que ele imprima a tabuada de **1 a 10**

In [8]:
tab = 1
while tab <= 10:
  print(f'tabuada do {tab} :', end='\t')
  i = 1
  while i <= 10:
    print(tab*i, end='\t')
    i = i + 1
  print()
  tab = tab + 1

tabuada do 1 :	1	2	3	4	5	6	7	8	9	10
tabuada do 2 :	2	4	6	8	10	12	14	16	18	20
tabuada do 3 :	3	6	9	12	15	18	21	24	27	30
tabuada do 4 :	4	8	12	16	20	24	28	32	36	40
tabuada do 5 :	5	10	15	20	25	30	35	40	45	50
tabuada do 6 :	6	12	18	24	30	36	42	48	54	60
tabuada do 7 :	7	14	21	28	35	42	49	56	63	70
tabuada do 8 :	8	16	24	32	40	48	56	64	72	80
tabuada do 9 :	9	18	27	36	45	54	63	72	81	90
tabuada do 10 :	10	20	30	40	50	60	70	80	90	100

O trecho acima obedece as especificações.

In [9]:
tab = 0
while tab < 10:
  tab = tab + 1 #quando chegar em 9 acrescentará + 1, para fazer o 10
  i = 0
  while i < 10:
    i = i + 1#quando chegar em 9 acrescentará + 1, para fazer o 10
    print(f'{tab} X {i} = ', tab*i)
  print()

1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
1 X 6 =  6
1 X 7 =  7
1 X 8 =  8
1 X 9 =  9
1 X 10 =  10

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 =  10
2 X 6 =  12
2 X 7 =  14
2 X 8 =  16
2 X 9 =  18
2 X 10 =  20

3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 =  12
3 X 5 =  15
3 X 6 =  18
3 X 7 =  21
3 X 8 =  24
3 X 9 =  27
3 X 10 =  30

4 X 1 =  4
4 X 2 =  8
4 X 3 =  12
4 X 4 =  16
4 X 5 =  20
4 X 6 =  24
4 X 7 =  28
4 X 8 =  32
4 X 9 =  36
4 X 10 =  40

5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

6 X 1 =  6
6 X 2 =  12
6 X 3 =  18
6 X 4 =  24
6 X 5 =  30
6 X 6 =  36
6 X 7 =  42
6 X 8 =  48
6 X 9 =  54
6 X 10 =  60

7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
7 X 10 =  70

8 X 1 =  8
8 X 2 =  16
8 X 3 =  24
8 X 4 =  32
8 X 5 =  40
8 X 6 =  48
8 X 7 =  56
8 X 8 =  64
8 X 9 =  72
8 X 10 =  80

9 X 1 =  9
9 X 2 =  18
9 X 3 =  27
9 X 4 =  36
9 X 5 =  45
9 X 6 =  54
9 X 7 =  63
9 X 8 =  72
9 X 9 =  81
9 X 10 =  90

10 X 1 =  10
10 X 2 =  20
10 X 3 =  30
10 X 4 =  40
10 X 5 =  50
10 X 6 =  60
10 X 7 =  70
10 X 8 =  80
10 X 9 =  90
10 X 10 =  100

O trecho acima obedece as especificações.

In [10]:
tab=1
i = 1
while tab <= 10 and i <= 10:
  print(f'{tab} X {i} = ', tab*i)
  i = i + 1
  tab = tab + 1
print()

1 X 1 =  1
2 X 2 =  4
3 X 3 =  9
4 X 4 =  16
5 X 5 =  25
6 X 6 =  36
7 X 7 =  49
8 X 8 =  64
9 X 9 =  81
10 X 10 =  100

Este trecho não obedece às especificações.

In [11]:
tab = 1
while tab <= 10:
  print(f'Tabuada do {tab} :', end='\t')
  i = 1
  print(tab*i, end = '\t')
  i = i + 1
  print()
  tab=tab + 1

Tabuada do 1 :	1
Tabuada do 2 :	2
Tabuada do 3 :	3
Tabuada do 4 :	4
Tabuada do 5 :	5
Tabuada do 6 :	6
Tabuada do 7 :	7
Tabuada do 8 :	8
Tabuada do 9 :	9
Tabuada do 10 :	10

Este trecho não obedece às especificações

In [12]:
tab = 1
while tab <= 10:
  i = 1
  while i <= 10:
    print(f'{tab} X {i} =', tab*i)
    i = i + 1
  print()
  tab = tab + 1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Este trecho obedece às especificações